<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.geekgoddesses.com</title>
     <!-- FAVICON -->
     <link rel="shortcut icon" type="image/png" href="static/newlogo-removebg-preview.png">
    <!-- ALL CSS LINK -->
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/navbar.css">
    <link rel="stylesheet" href="static/header.css">
    <!-- FONT-AWESOME -->
    <script src="https://kit.fontawesome.com/72215895a8.js" crossorigin="anonymous"></script>
    
</head>

<body>
    <div id="flatdiscount">
        <i id="sidePanel" class="fa-solid fa-caret-left"></i>
        <h1>FLAT ₹300 OFF</h1>
    </div>

    <!-- HEADER MENU SECTION -->
    <header>
        <div id="logo">
            <img src="static/newlogo-removebg-preview.png" alt="brandLogo" id="landingPage">
        </div>
        <div id="chat">
            <i class="fa-solid fa-chart-simple"></i>
            <a href="https://partyrock.aws/u/chatneha/K28u5YQjX/FashionForecast%3A-Envisioning-Fashion's-Future" target="_blank" class="chatbox"> trend predictor</a>
        </div>
        <div id="search">
            <form action="/search" method="get">
                <input type="text" name="query" id="search_bar" placeholder="Enter an aesthetic">
                <button type="submit">
                    <i class="fa-solid fa-magnifying-glass" id="search_icon"></i>
                </button>
            </form>
        </div>
        <div id="right_icon">
            <div id="reggDropdown">
                <!-- DROPDOWN MENU TO BE CREATED FOR LOGIN AND SIGNUP -->
              <div id="drop">
                  <a href="#" class="dropList">login</a>
                  <a href="#"class="dropList">sign up</a>
              </div>

              <i class="fa-regular fa-user"></i>
              <span>profile</span>
          </div>
            <div>
                <i class="fa-regular fa-heart"></i>
                <span>wishlist</span>
            </div>
            <div>
                <i class="fa-solid fa-bag-shopping"></i>
                <span>bag</span>
            </div>
        </div>
                   <!-- TOGGLE MENU -->
                   <div id="toggle">
                    <i class='bx bx-menu dropbtn' onclick="myFunction()"></i>
                    <div id="myDropdown" class="dropdown-content">
                        <div class="bottom">
                            <i class="fa-regular fa-user fa_user" id="profile"></i>
                            <i class="fa-regular fa-heart fa_wishlist"></i>
                            <i class="fa-solid fa-bag-shopping fa_cart"></i>
                        </div>               
                    </div>
                </div>
    </header>

    
    <div class="slider">
        <div class="slides">
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <!--slide images start-->
            <div class="slide first">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/28/4ac3be4b-f02c-4106-8dc9-be1898a81def1648463267842-Desktop-Banner-----1920x504.jpg"  
                alt="">
            </div>
            <div class="slide">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/8f1a79c7-3f11-4608-9f31-30a03a606cb41647537798522-SS22-DesktopBanners-Unisex.jpg"
                alt="">
            </div>
            <div class="slide">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/1439d458-3f9b-4a49-830c-a47a126bb9311647456798699-Roadster_Desk_Banner.jpg"
                alt="">
            </div>
            <div class="slide">
                <img src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2022/3/17/52df3f93-8d0f-412d-b416-fc665706199d1647456798690-Casual-Shoes_Dk.jpg"
                alt="">
            </div>
        </div>

        <!--manual navigation start-->
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>

    <h1>DEALS OF THE DAY</h1>
    <div id="deals">

    </div>
    <h1>BEST OF MYNTRA EXCLUSIVE BRANDS</h1>
    <div id="best">
    </div>
    <h1></h1>
    <div id="categories">
    </div>
   
          <!-- FOOTER SECTION -->
          <footer>
            <section id="section_1">
                <div id="left">
                    <div>
                        <h4>online shopping</h4>
                        <p>men</p>
                        <p>women</p>
                        <p>home & living</p>
                    </div>
                    <div>
                      <h4>useful links</h4>
                      <p>men</p>
                      <p>faq</p>
                      <p>t&c</p>
                      <p>terms of use</p>
                      <p>track order</p>
                      <p>shipping</p>
                      <p>cancellation</p>
                      <p>returns</p>
                    </div>
        </footer>
</body>

</html>

<script src="static/deals.js"></script>
<script src="static/headerMenu.js"></script>
<script src="static/corousel.js"></script>
